<div class="dashboard-header">
<h2>Dashboard</h2>


<div *ngIf="loading">Loading dashboard...</div>


<div class="search-box">
  <input
    class="search-input"
    type="text"
    placeholder="Search product..."
    [(ngModel)]="searchTerm"
    (input)="filterItems()"
    (keyup.enter)="goToProductOnEnter()"
  />
  <i
    class="fa-solid fa-magnifying-glass search-icon"
    (click)="goToProductOnEnter()"
  ></i>
</div></div>
  

  <ul *ngIf="searchTerm && searchResults.length > 0" class="search-results">
    <li *ngFor="let item of searchResults">
      <a [routerLink]="['/product', item.StockCode]">
        {{ item.StockCode }} - {{ item.Description }}
      </a>
    </li>
  </ul>

<div class="dashboard" *ngIf="!loading">
  <div class="card">
    <h3>Total Inventory Items</h3>
    <p>{{ totalProducts }}</p>
     <!-- <p>To be implemented at last</p> -->
  </div>

  <div class="card">
    <h3>Total Stock</h3>
    <p>{{ totalStock }}</p>
    <!-- <p>To be implemented at last</p> -->
  </div>

  <div class="card">
    <h3>Unique Warehouses</h3>
    <p>{{ uniqueWarehouses }}</p>
  </div>

  <div class="card">
    <h3>Total Transactions</h3>
    <p>{{ totalTransactions }}</p>
  </div>

  
</div>

  <div class="chart-card1">
   
  <canvas #stockCanvas></canvas>
</div>
<br>
<div class="charts-row">
<div class="charts-box">
   <h3>Transaction Trend</h3>
  <canvas #transactionTrendCanvas></canvas>
</div>

<div class="charts-box">
    <h3>Top Products by Stock Quantity</h3>
  <canvas #topProductsCanvas></canvas>

</div>
</div>
<div class="modal-backdrop" *ngIf="showProductPopup">
  <div class="modal-content">
    <button class="close-btn" (click)="closeProductPopup()">×</button>

    <app-product-inventory [stockCode]="selectedStockCode"></app-product-inventory>
  </div>
</div>
<!-- <div class="low-stock-section" *ngIf="!loading">
  <h3>Low Stock Items</h3>
<div class="table-container">
  <table class="styled-table" *ngIf="lowStockItems.length > 0" border="1">
    <thead>
      <tr>
        <th>Stock Code</th>
        <th>Warehouse</th>
        <th>Description</th>
        <th>Current Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lowStockItems">
        <td>{{ item.StockCode }}</td>
        <td>{{ item.WarehouseID }}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.CurrentStock }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="lowStockItems.length === 0">
    No low-stock items found.
  </div>
</div> -->
<!-- Uncomment before demo -->
<!-- <div class="top-products-section" *ngIf="!loading">
  <h3>Top Products by Stock Quantity</h3>
  <div class="table-container">
  <table class="styled-table" *ngIf="topProducts.length > 0" border="1">
    <thead>
      <tr>
        <th>Stock Code</th>
        <th>Warehouse</th>
        <th>Description</th>
        <th>Current Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of topProducts">
        <td>{{ item.StockCode }}</td>
        <td>{{ item.WarehouseID }}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.CurrentStock }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="topProducts.length === 0">
    No products found.
  </div> -->
  
